/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  max-height: 100px;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.questionsTile{
  flex: 25%;
  background: rgb(rgb(68, 134, 182) rgb(102, 204, 254));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 10px;
  margin: 20px;
  color: white;
  font-size: 14px;
  margin-left: 0px;
  width:auto;
  min-height:200px;
  box-shadow: 0px 5px 10px black;
  border-radius: 5px;
  max-width: 250px;
  height: 250px;
}

.questionsTile:hover{
  box-shadow: 0px 2px 10px 2px rgb(35, 61, 206);
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.97, 0.97);
    transform: scale(0.97, 0.97);
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.97, 0.97);
    transform: scale(0.97, 0.97);
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0;
}

.column{
  flex: 25%;
  padding: 0 4px;
}

.main-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttons{
  display: flex;
  flex: 3;
  flex-direction: row;
  align-items: flex-end;
}


.startButton{
  text-decoration: none;
  white-space: nowrap;
  max-height: 30px;
  font-weight: bold;
  font-size: medium;
  color: rgb(125, 245, 125);
}

a.startButton:hover{
  text-decoration: none;
  color: rgb(108, 206, 108);
}

p.testDescription{
  max-height: 500px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.testCard{
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;  
  margin-bottom: 100px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.questionCard{
  padding: 20px;
  width: 100%;
  min-width: 300px;
  background-image: linear-gradient(to right, #2492df 0%,#003265 100%);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 6px 10px black;
  position: absolute;
}

.answer{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.664);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  flex-basis: 45%;
  height: 100px;
  max-height: max-content;
  max-width: 45%;
  text-align: center;
  white-space: pre-line;
}

.tableStatistics{
  margin-bottom: 10px;
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

.tableStatistics tbody tr td, .tableStatistics tbody tr th{
  padding: 5px;
}

.tableStatistics tbody tr td a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.tableStatistics tbody tr td a:hover{
  color: #003265;
}

.block1, .block2, .block3{
  font-size: 14px;
  display: inline-block;
  line-height: 1.5em;
  width: 30%;
  text-align: left;
}

.block1 a{
  color: gray;
}

.block1 a:hover{
  color: rgb(83, 83, 83);
}

footer{
  text-align: center;
}

.block3{
  text-align: center;
}

.block3 img{
  vertical-align: bottom;
}

.fio-statistics{
  flex: 3;
}

.subject-levels{
  display: flex;
  flex: 5;
  flex-direction: row;
  text-align: center;
  flex-basis: 64px;
}

.subject{
  flex-grow: 0;
  width: 128px;
  height: 128px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(54, 146, 250);
}

.fio-statistics, .subject-levels, .subject{
  margin:10px;
}

.background-white{
  background: white;
  width: 118px;
  height: 118px;
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-statistics{
  font-size: large;
  font-weight: bold;
  margin: 0;
}

.fio-levels{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistics p{
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: large;
  font-weight: bold;
}

#finder{
  width: auto;
  margin-bottom: 50px;
}

.answers{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Ask{
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 0cm;
  font-weight: bold;
  font-size: 18px;
}

#countOfTrue{
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
}

.finishBtn{
  background-color: rgb(255, 255, 255);
  height: auto;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-top: 50px;
}

#timerVisual{
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 10px rgb(110, 110, 110);
}

.buttonStart{
  width: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#startCard{
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #2492df 0%,#003265 100%);
  text-align: center;
  color: rgb(255, 255, 255);
}

#startCard p{
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.body-authorize{
  text-align: center;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.authorize-form{
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  background-image: linear-gradient(to right, #2492df 0%,#003265 100%);
  border-radius: 5px;
}

.text-form{
  color: #fff;
  font-size: 18px;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 55px;
}

.head-form{
  margin-left: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  text-align: center;
}

.head-form a{
  text-decoration: none;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.head-form a:hover{
  color: gray;
}

.name_authorize{
  background-color: transparent;
  color: white;
  border-color: white;
  border-style: double;
  border-left:none;
  border-right:none;
  border-radius: 3px;
  max-height:50px;
  width:400px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.qestions-row{
  width: 100%;
  overflow: auto;
  display: flex;
}

.row-block{
  width: 150px;
  min-width: 150px;
  height: 150px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 9px rgb(56, 56, 56);
  border-radius: 5px;
}

.row-block-item{
  padding: 15px;
  color:white;
}

.row-block-item:hover{
  color:rgb(190, 190, 190);
}

.p-questions{
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .subject-levels{
    max-width: 50%;
    overflow: auto;
  }

  .subject{
    min-width: 100px;
    height: 100px;
  }

  .background-white{
    width: 90px;
    height: 90px;
  }

  .p-statistics{
    font-size: 0.8rem;
  }

  .hidable-mobile{
    display: none;
  }

  .footer .block1, .footer .block2, .footer .block3{
    display: inline;
    text-align: center;
  }

  .footer{
    line-height: normal;
  }
  
  .footer .block1, .footer .block2, .footer .block3{
    display: inline;
    text-align: center;
  }

  .block1 p, .block2 p{
    overflow: auto;
    width: 100%;
    max-width: 100%;
  }

  .block3 img{
    width: 0px;
  }

  .navbar-brand{
    font-size: 0.8rem;
    overflow: hidden;
  }

  .navbar-brand img{
    max-width: 0px;
  }

  .row{
    display: inline;
  }

  .main-row{
    display: inline;
  }

  .questionsTile{
    max-width: 100%;
    height: 120px;
    margin-right: 0;
  }

  .editText{
    max-width: 100%;
  }
  
  .name_authorize{
    max-width: 90%;
  }

  .text-form{
    margin: 0;
  }

  .authorize-form{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .answers{
    min-width: 100%;
  }

  .answer{
    flex: 40%;
    width: 100%;
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 1080px) {
  .subject-levels{
    max-width: 300px;
    overflow: auto;
  }

  .footer .block1, .footer .block2, .footer .block3{
    display: inline;
    text-align: center;
  }

  .footer{
    line-height: normal;
  }

  .navbar-brand, .nav-link{
    font-size: 0.8rem;
  }
  
  .navbar-brand img{
    max-width: 0px;
  }

  .row{
    display: inline;
  }

  .main-row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .questionsTile{
    width: 90%;
    max-width: 90%;
    height: 120px;
    margin-right: 0;
  }

  .editText{
    max-width: 100%;
  }

  .name_authorize{
    max-width: 90%;
  }

  .text-form{
    margin: 0;
  }

  .authorize-form{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}
