@using TestingOfApplicants.Controllers
@using System.Security.Claims

@{
    var me = StaticData.Me;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background: linear-gradient(to right, #2492df 0%,#003265 100%);">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://www.kubsu.ru/sites/all/themes/portal_kubsu/logo.png" />
                    TestingOfApplicants
                </a>
                <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Тесты</a>
                        </li>
                        @{
                            if (StaticData.Me != null)
                            {
                                if (StaticData.Me.Role != 0)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Editing" asp-action="CreateTest">Добавить тест</a>
                                    </li>
                                    if (StaticData.Me.Role >= 2)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Statistics" asp-action="AllStatistics">Статистика</a>
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
                <div>
                    @{
                        if (StaticData.Me != null)
                        {
                            <a class="navbar-brand text-light" href="@Url.ActionLink("UserInfo", "User", new {id=me.Id})">@me.mName
                            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" style="width:67px;"/></a>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container" id="mainBlock">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer align-items-center text-muted hidable-mobile">
        <div class="block1">
            <p>&copy; 2022 - Тестирование студентов и абитуриентов КубГУ<br /> 
            Дипломная работа Баслиней Темира ФКТиПМ/ПИ/48гр.<br />
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфеденциальности</a></p>
        
        </div>
        <div class="block3">
            <img src="https://www.kubsu.ru/sites/all/themes/portal_kubsu/logo.png" />
        </div>
        <div class="block2">
            <p>Тел.: +7 (918) 999-99-99<br /> 
            E-mail: basliney@bk.ru<br />
            Адрес: 350040, г. Краснодар, ул. Ставропольская, 149</p>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/changerQuestion.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>