<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\TestingOfApplicants.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
	<connectionStrings>
		<add name="EFDbContext" connectionString="Data Source=(localdb)\\mssqllocaldb; AttachDbFilename='|DataDirectory|\TestingOfApplicantsDB.mdf';Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
<!--ProjectGuid: dcd3e56d-afce-45fe-a855-76cbdd7f83d3-->