@{
    List<User> users = Model;
    ViewData["Title"] = "Поиск";
}

<div id="text-center">
    @{
        <div id="finder">
            <input type="text" id="Keyword" placeholder="Иванов Иван Иванович"/>
            <button id="search" >Поиск</button>
        </div>
        if (users.Count == 0)
        {
            <p>Нет результатов поиска.</p>
        }
        else
        {
            for(int i = 0; i < users.Count; i++)
            {
                <div>
                    <a href="@Url.ActionLink("UserInfo", "User", new {id=users[i].Id})">@users[i].mName</a>
                </div>
            }
        }
    }
</div>

<script>
    var url = '@Url.Action("DisplaySearchResults", "Statistics")';

    $('#search').click(function() {
        console.log("asd");
        var keyWord = $('#Keyword').val();
        location.href=url+'/'+'?FIOfinder=' + keyWord;
    })
</script>
